--- # EC2 VPC MODULE EXAMPLE
- hosts: localhost
  connection: local
  remote_user: test
  become: yes
  gather_facts: no
  vars_files:
  - files/awscreds.yml
  tasks:
  - name: Create a Basic VPC using the 10.x.x.x Private network range
    ec2_vpc:
      aws_access_key: "{{ aws_id }}"
      aws_secret_key: "{{ aws_key }}"
      region: "{{ aws_region }}"
      state: present
      cidr_block: 10.2.1.0/24
      resource_tags: { "Name":"" }
    register: vpcblock
    
